<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			WebBuilding_<block name="tittle">Title Page</block>
		</title>
		<!-- Bootstrap CSS -->
		<load href="__PUBLIC__/Css/Common/bootstrap_min.css"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<block name="head"></block>
		<!-- jQuery -->
		<load href="__PUBLIC__/Js/Common/jquery_min.js"/>
		<!-- Bootstrap JavaScript -->
		<load href="__PUBLIC__/Js/Common/bootstrap_min.js"/>
		<!-- jquery版本兼容 -->
		<load href="__PUBLIC__/Js/Common/jquery-migrate-1_1_0.js"/>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<load href="__PUBLIC__/Js/Common/ie10-viewport-bug-workaround.js"/>
	</head>
	<body>
		<block name="main"></block>
	</body>
	<block name="scri"></block>
</html>

