<extend name="Public:base" />
<block name="tittle">系统管理中心</block>
<block name="head">
	<load href="__PUBLIC__/Css/Admin/index.css"/>
</block>
<block name="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 orange">
				<div class="col-xs-5">
					<h2>系统管理中心 <small>ver.1.0</small></h2>
				</div>
				<div class="col-xs-5 text-center">
					<strong class="text-bottom">当前用户：admin <a class="btn" href="">修改口令</a><a class="btn" href="">注销</a></strong>
				</div>
				<div class="col-xs-2">
					<img id="logo" class="animated bounceIn img-responsive" src="__PUBLIC__/Img/Admin/webbuildinglogo.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="row">
		{//左侧边栏}

		
		{//右边主栏目}


		</div>
	</div>
</block>
<block name="scri">
	<load href="__PUBLIC__/Js/Admin/index.js"/>
	<script>
	
	</script>
</block>
