<extend name="Public:base" />
<block name="tittle">后台登录</block>
<block name="head">
	<load href="__PUBLIC__/Css/Common/animate.min.css"/>
	<load href="__PUBLIC__/Css/Admin/login.css"/>
</block>
<block name="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-12">
					<img id="logo" class="animated bounceIn img-responsive" src="__PUBLIC__/Img/Common/webbuildinglogo.jpg" alt="">
					<div class="">
						<form class="form-horizontal" action="">
							 <div class="form-group">
							    <label class="control-label text-right col-xs-3" for="login_user">账&nbsp;&nbsp;&nbsp;号:</label>
							    <div class="col-xs-9">
							   		<input type="text" class="form-control" id="login_user" value="" placeholder="请输入账号">
							    </div>
							</div>
							<div class="form-group">
							    <label class="control-label text-right col-xs-3" for="login_pd">密&nbsp;&nbsp;&nbsp;码:</label>
							    <div class="col-xs-9">
							   		<input type="password" class="form-control" id="login_pd" placeholder="请输入密码">
							    </div>
							</div>
							<div class="form-group">
							    <label class="control-label text-right col-xs-3" for="login_yzm">验证码:</label>
							    <div class="col-xs-5">
							   		<input type="text" class="form-control" id="login_user" value="" placeholder="请输入验证码">
							    </div>
						   		<div class="col-xs-4">
									<img class="img-responsive" id="login_verify" src="{:U('Index/verify')}" alt="verify_code">
						   		</div>
							</div>
							<div class="col-xs-9 col-xs-offset-3">
								<div class="col-xs-6">
									<input class="btn btn-primary btn-lg" type="submit" value="登录">
								</div>
								<div class="col-xs-6">
									<input class="btn btn-default btn-lg" type="reset" value="重置">
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>
	</div>
</block>
<block name="scri">
	<load href="__PUBLIC__/Js/Admin/login.js"/>
	<script>
		$("#logo").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
			$(this).addClass("fadeIn")
		});
		$("#login_verify").click(function () {
            var src = $(this).attr("src")+'?'+Math.random();
            $(this).attr("src",src);
        });
	</script>
</block>
