<extend name="Public:baseadmin" />
<block name="tittle">机构树菜单树</block>
<block name="keyworddes">
	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
	<meta name="description" content="站长素材提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
</block>
<block name="head">
</block>
<block name="main">
	<div class="row">
		<div class="col-sm-6">
			<div class="widget-box">
				<div class="widget-header header-color-blue2">
					<h4 class="lighter smaller">Choose Categories</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-8">
						<div id="tree1" class="tree"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="lighter smaller">Browse Files</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-8">
						<div id="tree2" class="tree"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var $assets = "__PUBLIC__/assets";//this will be used in fuelux.tree-sampledata.js
	</script>
</block>
<block name="scri">
	<script src="__PUBLIC__/assets/js/fuelux/data/fuelux.tree-sampledata.js"></script>
	<script src="__PUBLIC__/assets/js/fuelux/fuelux.tree.min.js"></script>	
	<script type="text/javascript">
		jQuery(function($){

			$('#tree1').ace_tree({
				dataSource: treeDataSource ,
				multiSelect:true,
				loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
				'open-icon' : 'icon-minus',
				'close-icon' : 'icon-plus',
				'selectable' : true,
				'selected-icon' : 'icon-ok',
				'unselected-icon' : 'icon-remove'
			});

			$('#tree2').ace_tree({
				dataSource: treeDataSource2 ,
				loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
				'open-icon' : 'icon-folder-open',
				'close-icon' : 'icon-folder-close',
				'selectable' : false,
				'selected-icon' : null,
				'unselected-icon' : null
			});

		});
	</script>
</block>